.sidepanel {
	height: 340px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	position: fixed;
	z-index: 3;
	top: 230px;
	left: 50px;
	align-items: center;
	mix-blend-mode: difference;
	background-color: black;

	&__divider {
		width: 2px;
		height: 70px;
		background-color: white;
	}

	&__text {
		color: white;
		height: 150px;
		width: 25px;
		span {
			transform: rotate(-90deg) translate(-10%, -340%);
			display: block;
			width: 150px;
		}
	}
}